{% extends 'base.html' %}
{% block title %}
Market
{% endblock %}

{% block content %}

<div class="market-container">
    <div class="available-items">
        <h2>Available Items</h2>
        <div class="itemCont">
            {% for item in items %}
            <span class="item">
                <img src="{{ item.image }}" alt="">
                <h2>{{ item.name }}</h2>
                <span>{{ item.price }}$</span>
                <div class="optionsCont">
                    <button class="options" onclick="openModalPurchase('{{ item.id }}')">Buy</button>
                    <!-- Button to trigger modal -->
                    <button class="options" onclick="openModal('{{ item.id }}')">More info.</button>         
                </div>
            </span>

            <!-- Include modal for this available item, and send items imported from Routes (stemming from other sources) to this page, too (items, Purchase item, Sell item...) -->
            {% include 'includes/modal.html' %}
            {% endfor %}

        </div>
    </div>

    <div class="owned-items">
        <h2>Owned Items</h2>
        <div class="itemCont">
            {% for item in owned_items %}
            <span class="item">
                <img src="{{ item.image }}" alt="">
                <h2>{{ item.name }}</h2>
                <span>{{ item.price }}$</span>
                <div class="optionsCont">
                    <button class="options">Sell</button>
                    <!-- Button to trigger modal -->
                    <button class="options" onclick="openModal('{{ item.id }}')">More info.</button>                
                </div>
            </span>

            <!-- Include modal for this owned item -->
            {% include 'includes/modal.html' %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}