{% extends 'base.html' %}
Register
{% block title %}

{% endblock %}

{% block content %}
<h1 style="font-size: 24px;">Register Form</h1>
<body>

<form method="POST" class="form-register" style="color: aliceblue; display: flex; flex-flow: column nowrap; font-size: 1.5em; gap: 1.5vh; padding: 5 15px;">

    {{ form.hidden_tag() }}
    
    {{ form.username.label()}}
    {{ form.username(placeholder="User Name", class="input-field-register")}}

    {{ form.email_address.label()}}
    {{ form.email_address(placeholder="Email Address", class="input-field-register")}}

    {{ form.password1.label()}}
    {{ form.password1(placeholder="Write your password...", class="input-field-register")}}

    {{ form.password2.label()}}
    {{ form.password2(placeholder="Write your password again...", class="input-field-register")}}

    <br>
    {{ form.submit(class="btn submit-form")}}

    <div class="register-login">
        <h6>Already have an account?</h6>
        <div>

        </div>
        <a class="signin" href="{{ url_for('login_page') }}">
            <div class="signin-button"> Sign In </div>
        </a>
    </div>




</form>

</body>

{% endblock %}